.ui.container {
  margin-top: 50px;
}

.ui.button.primary {
  background-color: #AF7AB3;
}

.ui.button.primary:hover {
  background-color: #80558C;
}

.title {
  text-align: center !important;
  color: #354259;
  padding-top: 20px;
  text-decoration: underline !important;
}